@import 'core/settings';

body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.button {
    margin-top: 30px;
}


.image-size {
    max-width: 200px;
    max-height: 200px;
}
