@import 'core/settings';

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5FFBF1;
}

.label {
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    margin-left: 32px;
    margin-right: 16px;
}

.button {
    font-family: 'Staatliches', cursive;
    margin-top: 30px;
    margin-left: 16px;
}


.image__size {
    max-width: 200px;
    max-height: 200px;
}


.add__favourite {
    max-width: 300px;
    background-color: pink;
    border: 3px solid violet;
}