<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search your favourite TV-Show by Altea</title>
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

  <label class="label" for="tv-show">Buscador de series</label>
  <input class="input" id="tv-show" type="text" name="tv-show" value="">

  <button class="button" type="submit" value="Enviar">Submit</button>

  <ul class="list"></ul>


  <script type="text/javascript" src="assets/js/main.js"></script>

</body>

</html>